
	body {
        font-family: Avenir;
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100%;
		margin: 0 0;
	}
	canvas {
		display: inline-block;
		background: #202020;
		width: 95%;
		height: 45%;
		box-shadow: 0px 0px 10px blue;
	}
	#controls {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		height: 20%;
		width: 100%;
	}
	#record { height: 15vh; }
	#record.recording {
		background: red;
		background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);
		background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);
		background: radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);
	}
	#save, #save img { height: 10vh; }
	#save { opacity: 0.25;}
	#save[download] { opacity: 1;}
    .vertical {
        flex-direction: column;
    }
    .horizontal {
        flex-direction: row;
    }
    h1, h2, h3, h4, h5 {
        text-align: center;
        text-transform: uppercase;
    }
	.vertical-list {
		display: flex;
		flex-direction: column;
		align-items: center;
        justify-content: space-around;
	}
    #talkers {
        height: 80%;
        width: 300px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
    }
    #convo-box {
        min-height: 500px;
        max-height: 800px;
        height: 80%;
        min-width: 200px;
        max-width: 300px;
        margin: 10px;
        border-radius: 8px;
        border-color: #888;
        border-width: medium;
        border-style: solid;
		display: flex;
		flex-direction: column;
		align-items: center;
        justify-content: space-around;
    }
    .dim {
        opacity: 0.1;
    }
	@media (orientation: landscape) {
		body { flex-direction: row;}
		#controls { flex-direction: column; height: 100%; width: 10%;}
		#viz { height: 100%; width: 90%;}
	}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



